{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
	'col-6',
	'col-md-3',
  ]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{% set show_anchor = "show-" ~ attributes.id|clean_id %}
{% set hide_anchor = "hide-" ~ attributes.id|clean_id %}

<nav
	role="navigation" aria-labelledby="{{ heading_id }}" {{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
	{# Label. If not displayed, we still provide it for screen readers. #}
	{% if not configuration.label_display %}
		{% set title_attributes = title_attributes.addClass('visually-hidden') %}
	{% endif %}
	{{ title_prefix }}
	<h5{{title_attributes.setAttribute('id',heading_id)}}>{{ configuration.label }}</h5>
	{{ title_suffix }}

	{# Menu. #}
	{% block content %}
		<div{{content_attributes.addClass('content')}}>
			{# When rendering a menu without label, render a menu toggle. #}
			{{ content }}
		</div>
	{% endblock %}
</nav>
