{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'blue-border-top',
    'col'
  ]
%}
{%
    set title = [
    'child',
    'text-blue'
    ]
%}
<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{% if label %}
		<div class="partner-front-page">
			<div class="logo-front"><img class="logo-img" src="{{ directory }}/images/Super_Micro_Computer_Logo.svg"></div>
			<div>
				<div class="verticle-line"></div>
			</div>
			<h1{{title_attributes.addClass(title)}}>{{ label }}</h1>
		</div>

	{% endif %}
	{{ title_suffix }}
	{% block content %}
		<div{{content_attributes.addClass('content')}}>
			{{ content }}
		</div>
	{% endblock %}
</div>
